#Everything else
*.*

#Do not exclude .cpp and .h files
!*.cpp
!*.h
!*.py

#Also need the .dll-s
!*.dll

#Also needed qt
!*.pro
!*._example
!*.qml
!*.qrc
!*.rep

#Dont need the Qt build-servers
/build-Server*

build-*